name: notify-release
on:
  schedule:
    - cron: '30 8 * * *'
  workflow_dispatch:
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Notify release
        uses: nearform/github-action-notify-release@v1.2.8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          stale-days: 7
